---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import Header from '@compo/global/Header.astro';
import Layout from '@layouts/Layout.astro';
import RatingCard from '@compo/blocks/RatingCard.astro';
import TwoFace from '@compo/blocks/TwoFace.astro';
import Carousel from '@compo/global/Carousel.astro';
import Section from '@compo/blocks/Section.astro';


// typography
import Body from '@compo/Typography/Body.astro';
import Heading from '@compo/Typography/Heading.astro';

//layouts
import PlayerIntro from '@layouts/PlayerIntro.astro';
import TextImage from '@layouts/TextImage.astro';
import PreLoader from '@layouts/PreLoader.astro';

//react
import Showcase from '@compo/blocks/Showcase.jsx';
import Showcase2 from '@compo/blocks/Showcase2.jsx';

import Framer from '@compo/blocks/Framer.jsx';

import TheFooter from '@layouts/TheFooter.astro';
import Line from '@compo/blocks/Line.astro'
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<Layout>
  <PreLoader/>
 
  <Header slot="header" index={0}/>
  <!-- <h1>Hello world</h1> -->
  <!-- <Counter client:visible/> -->

  <PlayerIntro
    playerName="Lebron James"
    position="Small Forward"
    team="Los Angeles Lakers"
    rebounds="7.5"
    points="27.2"
    assists="7.3"
    quote="Every night on the court I give it my all, and if I'm not giving 100 percent, I criticize myself."
    url="/images/players/lebron.jpg"
  >
    <TwoFace ratio='slim' width="500px" url1="/images/icons/icon-le-b.png" url2="/images/icons/icon-le-c.png"/>
  </PlayerIntro>


  <Section>
    <Heading level="2">The evolution of the NBA’s <br class="hidden md:inline"> most “Unguardable” Moves.</Heading>
    <div class="hidden md:block w-[350px] h-[50px] bg-[url('/images/icons/icon-line.svg')] bg-no-repeat bg"></div>
  
   <div class="flex flex-col gap-[64px]">
      <div>
        <Carousel headerText="The Step Back" HeaderType='3' carouselStyle="md:flex my-10 md:justify-between">
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/1.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577458/hover%20cards/1_aghisl.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/2.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577459/hover%20cards/2_yr5kl0.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/3.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577458/hover%20cards/3_ctmhp6.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/4.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577458/hover%20cards/4_jaugii.gif"/>
        </Carousel>

        <TextImage
          imageStyle="hidden md:flex"
          orientation="left"
          url="/images/step-back.png"
        >
          Let's start with the signature move of three-time NBA scoring champion James Harden. 
          He creates his own 3-point shots off the bounce with endless dribbles, 
          threatening a dribble-drive. Harden has attempted a staggering 1,988 step-back 3s in the past six seasons, 
          while no one else in the league has tried more than 800. <br><br>Though other great scorers such as Pete Maravich, 
          Larry Bird, and Michael Jordan proved that jump-shooters could become elite scorers, it was Dirk Nowitzki, 
          followed by Harden and Stephen Curry, who revolutionized the unassisted jumper out to 3-point territory. 
          By facing up and stepping back, they transitioned from dribblers to 3-point shooters in the blink of an eye, 
          destroying their defenders' balance. <br><br> Only six players are attempting multiple step-back 3s per game, 
          making this a cheat code reserved for a select few.
        </TextImage>
      </div>

      <div>
        <Carousel headerText="The Unassisted Dunk" HeaderType='3' carouselStyle="md:flex my-10 md:justify-between">
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/5.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577458/hover%20cards/5_zjxesg.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/6.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577459/hover%20cards/6_yotehp.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/7.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577459/hover%20cards/7_ey92qb.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/8.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577460/hover%20cards/8_fepb7t.gif"/>
        </Carousel>
    
        <TextImage
          imageStyle="hidden md:flex"
          orientation="right"
          url="/images/unassisted-dunk.png"
        >
          The NBA's 3-point revolution has changed the game, but the ability to dominate in the paint remains crucial. Many of the league's superstars still rely on unassisted dunks and layups to create scoring opportunities. 
          <br><br>Shaquille O'Neal was the seminal interior dominator of the 21st century, leading the Lakers to three consecutive titles with his powerful dunks. 
          <br><br>LeBron James and Giannis Antetokounmpo are two of the most dominant players in the paint today, with skills that combine Shaq's forceful finishes and James' court vision and ballhandling. 
          <br><br>At just 21 years old, Zion Williamson is emerging as the latest do-it-yourself dunking machine, with a unique ability to get to the rim and create explosive jams.
        </TextImage>
      </div>

      <div>
        <Carousel headerText="The Deeeep Pull-Up 3" HeaderType='3' carouselStyle="md:flex my-10 md:justify-between">
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/9.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577460/hover%20cards/9_dwozvs.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/10.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577460/hover%20cards/10_p1nwqo.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/11.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577460/hover%20cards/11_jyxukh.gif"/>
          <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/cards/12.jpg" url2="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694577456/hover%20cards/12_ylapuw.gif"/>
        </Carousel>
    
        <TextImage
          imageStyle="hidden md:flex"
          orientation="left"
          url="/images/deeep.png"
        >
          Deep pull-up 3s are growing in popularity in the NBA, with shooters like Steph Curry, Gilbert Arenas, Damian Lillard, and Trae Young paving the way. 
          <br><br>Curry, the most accurate quarterback in the league, made a 37-foot buzzer-beating bomb in one of the Warriors' biggest games, while Lillard has hit two legendary triples from way downtown to end playoff series. 
          <br><br>Young, who leads the league in 30-foot attempts and makes this season, seems poised to take the deep-ball revolution to the next level. 
          <br><br>The constantly evolving game of basketball continues to produce new ways for superstars to create their own breathtaking buckets.
        </TextImage>
      </div>
  </div>

  </Section>


  <div class="w-full h-[10px] bg-[url('/images/icons/icon-dot-line.svg')] bg-contain mb-16 md:mb-60"></div>

  <!-- Kyrie -->
  <PlayerIntro
    playerName="Kyrie Irving"
    position="Point Guard"
    team="Dallas Mavericks"
    rebounds="3.9"
    points="23.4"
    assists="5.7"
    quote="My eventual goal is to win a championship. And before I retire, I just want to win a championship. That's it."
    flip
    url="/images/players/kyrie.jpg"
  >
    <TwoFace ratio='slim' width="500px" url1="/images/icons/icon-ky-b.svg" url2="/images/icons/icon-ky-c.svg"/>
  </PlayerIntro>

  <Section>
    <div class="flex justify-between items-center justify-center">
      <div>
        <Heading level="2">Inside Kyrie <br class="hidden md:inline"> Bag of tricks</Heading>
        <Line />
      </div>
      <div class="w-[30%] aspect-square bg-[url('/images/icons/icon-hero.svg')] bg-no-repeat bg-contain"></div>
    </div>
    

    <div class="flex flex-col gap-16 md:gap-[160px]">
    <section>
      <Heading style="md:text-center" level="3">Weaving Through L.A. Traffic</Heading>
      <Heading level="4" style="md:text-center mt-1 mb-6 md:mt-4 md:mb-[56px]">November 8, 2017 VS. Lakers</Heading>
      <TextImage
        imageStyle="hidden md:flex"
        orientation="right"
        bodyStyle="md:basis-[50%]"
        imageStyle="md:basis-[50%]"
        url="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694578119/1_fmadus.gif"
      >
        Irving's impressive dribbling skills are thanks to his strong hands, allowing him to keep the ball under control even when defenders try to pry it away. 
        <br><br>During a game against the Lakers, Irving recovered the ball after nearly losing it, splitting two defenders before finishing with a left-handed layup. 
        <br></br>Irving's ability to create his own shot is not something that can be taught, according to Celtics teammate Shane Larkin. 
        <br><br>Last season, Irving shot 55 percent from the field on plays in which he took at least 10 dribbles, the best in the NBA among players with 100 such shots. 
        <br><br>When facing Irving's impressive ball-handling skills, Lakers' Brandon Ingram suggested the only answer is to foul him.
      </TextImage>
    </section>
    
    <section>
      <Heading style="md:text-center" level="3">Split, Swerve And Serve</Heading>
      <Heading level="4" style="md:text-center mt-1 mb-6 md:mt-4 md:mb-[56px]">November 6, 2017 VS. Hawks</Heading>


      <TextImage
        imageStyle="hidden md:flex"
        orientation="left"
        bodyStyle="md:basis-[50%]"
        imageStyle="md:basis-[50%]"
        url="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694578119/2_kqvqax.gif"
      >
        Stevens encourages his players to practice only the shots they'll take in games, but he allows Irving to mix in difficult shots because he knows Irving will attempt them again. 
        <br><br>Irving's flashy dribble moves would be pointless if they didn't result in points. When defenders try to stop Irving, he adjusts midair and still manages to score. 
        <br><br>Announcer Grande describes Irving's moves as a series of quick and unpredictable actions that are difficult to describe.
      </TextImage>
    </section>

    <section>
      <Heading style="md:text-center" level="3">Excuse Me, You Dropped Something</Heading>
      <Heading level="4" style="md:text-center mt-1 mb-6 md:mt-4 md:mb-[56px]">November 25, 2017 VS. Pacers</Heading>

      <TextImage
        imageStyle="hidden md:flex"
        orientation="right"
        bodyStyle="md:basis-[50%]"
        imageStyle="md:basis-[50%]"
        url="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694578119/3_aoo8pu.gif"
      >
        Kyrie Irving signed up for Micah Lancaster's "I'm Possible" training services before his NBA debut, and impressed Lancaster with his desire to learn challenging skills. 
        <br><br>Despite taking an hour to master one dribble drill, Irving never got frustrated and seemed to enjoy the process. Now, Lancaster marvels at Irving's rhythm, which allows him to make reactionary moves without losing control. During a game last season, Indiana Pacers guard Darren Collison tried to cut off Irving's angle near midcourt but lost his footing and crashed to the floor when Irving went behind his back to change direction. 
        <br><br>In just 11 dribbles, Irving split two defenders and finished on the opposite side of the basket. 
        <br><br>Celtics teammate Jaylen Brown credits Irving's ability to change pace at a moment's notice with helping him take his game to another level.
      </TextImage>
    </section>

    <section>
      <Heading style="md:text-center" level="3">Green Means Go ... Then Stop</Heading>
      <Heading level="4" style="md:text-center mt-1 mb-6 md:mt-4 md:mb-[56px]">January 27, 2018 VS. Warriors</Heading>

      <TextImage
        imageStyle="hidden md:flex"
        orientation="left"
        bodyStyle="md:basis-[50%]"
        imageStyle="md:basis-[50%]"
        url="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694578118/4_j9kmvh.gif"
      >
        Celtics forward Gordon Hayward believes part of Irving's success is his ability to stay low to the ground and execute tight moves. He is also impressed by Irving's skill in handling himself around the rim despite not being the most vertically athletic guard. 
        <br><br>In a game against Golden State, Irving practically melted into the ground while changing direction with a dribble and got into the paint to execute a left-handed layup off the glass, even with less than two feet of breathing room. "He's got all the spins and stuff. That's really impressive," Hayward said.
      </TextImage>
    </section>

    <section>
      <Heading style="md:text-center" level="3">Finish With The Dish</Heading>
      <Heading level="4" style="md:text-center mt-1 mb-6 md:mt-4 md:mb-[56px]">October 26, 2017 VS. Bucks</Heading>

      <TextImage
        imageStyle="hidden md:flex"
        orientation="right"
        bodyStyle="md:basis-[50%]"
        imageStyle="md:basis-[50%]"
        url="https://res.cloudinary.com/di1hpsxqe/image/upload/v1694578118/5_ndvpxz.gif"
      >
        Playing with Irving comes with pressure as teammates are expected to finish his flashy passes. 
        <br><br>In a game against Milwaukee, Irving made a fancy spin move to break free and flung a backhand pass to a wide-open Horford. Horford jokes that he had to knock down the shot after all the work Irving did. 
        <br></br>Irving was excellent at generating open looks for teammates, with the Celtics averaging 1.21 points per direct drive whenever he passed out of it. 
        <br><br>Horford shot 43.4 percent on 3-point attempts off Irving's feeds. Horford is impressed by Irving's ability to make difficult moves look easy in the middle of the game.
      </TextImage>
    </section>
    </div>
  </Section>


  <!-- featured players -->
  <Section>
    <div class="relative">
    <Heading level="2" style="mb-[24px]">Featured players</Heading>

    <Showcase client:load/>

    <div class="w-[40%] opacity-80 aspect-square bg-[url('/images/icons/icon-anime.svg')] bg-contain z-[-1] bg-no-repeat absolute top-0 right-0"></div>
  </div>
  </Section>


  <!-- did you know -->
  <Section>
    <Heading level="2">Did you know?</Heading>
    <div class="hidden md:block w-[350px] h-[50px] bg-[url('/images/icons/icon-line.svg')] bg-no-repeat bg"></div>

    <div class="hidden md:block">
      <Carousel count="400" variant="2" headerText="The Deeeep Pull-Up 3" HeaderType='3' carouselStyle="pb-[80px] mt-[32px]">
        <div class="mr-[50px] w-[300px] h-[250px] relative z-[2] whitespace-normal after:z-[1] after:content-[''] after:inline-block after:w-[320px] after:h-[270px] after:absolute after:bg-center after:bg-no-repeat after:bg-[url('/images/icons/icon-net-border.svg')] before:content-[''] before:inline-block before:absolute before:w-[139px] before:h-[179px] inline-flex justify-center before:bg-[url('/images/icons/icon-net.svg')] before:top-[60%]">
          <p class="px-[58px] py-[56px] inline-block">Dr. James Naismith straight up invented basketball in December 1891 in Springfield, Massachusetts.</p>
        </div>

        <div class="mx-[50px] w-[300px] h-[250px] relative z-[2] whitespace-normal after:z-[1] after:content-[''] after:inline-block after:w-[320px] after:h-[270px] after:absolute after:bg-center after:bg-no-repeat after:bg-[url('/images/icons/icon-net-border.svg')] before:content-[''] before:inline-block before:absolute before:w-[139px] before:h-[179px] inline-flex justify-center before:bg-[url('/images/icons/icon-net.svg')] before:top-[60%]">
          <p class="px-[58px] py-[56px] inline-block">The first game was lit - they used a soccer ball and peach baskets as hoops</p>
        </div>

        <div class="mx-[50px] w-[300px] h-[250px] relative z-[2] whitespace-normal after:z-[1] after:content-[''] after:inline-block after:w-[320px] after:h-[270px] after:absolute after:bg-center after:bg-no-repeat after:bg-[url('/images/icons/icon-net-border.svg')] before:content-[''] before:inline-block before:absolute before:w-[139px] before:h-[179px] inline-flex justify-center before:bg-[url('/images/icons/icon-net.svg')] before:top-[60%]">
          <p class="px-[58px] py-[56px] inline-block">Micheal Jordan is the Goat, hands down. Six NBA championships and five NBA MVP awards? He's on another level.</p>
        </div>

        <div class="mx-[50px] w-[300px] h-[250px] relative z-[2] whitespace-normal after:z-[1] after:content-[''] after:inline-block after:w-[320px] after:h-[270px] after:absolute after:bg-center after:bg-no-repeat after:bg-[url('/images/icons/icon-net-border.svg')] before:content-[''] before:inline-block before:absolute before:w-[139px] before:h-[179px] inline-flex justify-center before:bg-[url('/images/icons/icon-net.svg')] before:top-[60%]">
          <p class="px-[58px] py-[56px] inline-block">March Madness, aka the NCAA Men's Basketball Tournament, is a major sporting event that draws in millions of viewers every year</p>
        </div>

        <div class="mx-[50px] w-[300px] h-[250px] relative z-[2] whitespace-normal after:z-[1] after:content-[''] after:inline-block after:w-[320px] after:h-[270px] after:absolute after:bg-center after:bg-no-repeat after:bg-[url('/images/icons/icon-net-border.svg')] before:content-[''] before:inline-block before:absolute before:w-[139px] before:h-[179px] inline-flex justify-center before:bg-[url('/images/icons/icon-net.svg')] before:top-[60%]">
          <p class="px-[58px] py-[56px] inline-block">Wilt Chamberlain went off for 100 points in one game, setting an insane record</p>
        </div>

        <div class="ml-[50px] w-[300px] h-[250px] relative z-[2] whitespace-normal after:z-[1] after:content-[''] after:inline-block after:w-[320px] after:h-[270px] after:absolute after:bg-center after:bg-no-repeat after:bg-[url('/images/icons/icon-net-border.svg')] before:content-[''] before:inline-block before:absolute before:w-[139px] before:h-[179px] inline-flex justify-center before:bg-[url('/images/icons/icon-net.svg')] before:top-[60%]">
          <p class="px-[58px] py-[56px] inline-block">Bob Kurland was the first to smash a dunk in basketball history - a sick moment that went down in 1944</p>
        </div>
      </Carousel>
    </div>

    <div class="block md:hidden text-[14px]">
      <p class="mb-4">Yo, check out these dope basketball facts:</p>
      <ul class="list-disc ml-4 flex flex-col gap-4">
        <li>Dr. James Naismith straight up invented basketball in December 1891 in Springfield, Massachusetts.</li>
        <li>The first game was lit - they used a soccer ball and peach baskets as hoops</li>
        <li>Micheal Jordan is the Goat, hands down. Six NBA championships and five NBA MVP awards? He's on another level.</li>
        <li>March Madness, aka the NCAA Men's Basketball Tournament, is a major sporting event that draws in millions of viewers every year</li>
        <li>Wilt Chamberlain went off for 100 points in one game, setting an insane record</li>
        <li>Bo Kurland was the first to smash a dunk in basketball history - a sick  moment that went down in 1944</li>
      </ul>
    </div>
   
  </Section>

  <!-- historical moments -->
  <Section>
    <Heading level="2">Historical Moments in <br> The NBA</Heading>
    <Line />

    <Carousel carouselStyle="md:flex my-10 md:justify-between">
      <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/history/1.jpg" url2="/images/history/1.gif"/>
      <TwoFace ratio='square' min="150px" width="20%" max="300px" url1="/images/history/2.jpg" url2="/images/history/2.gif"/>
      <TwoFace ratio='slim' min="150px" width="100%" max="300px" url1="/images/history/3.jpg" url2="/images/history/3.gif"/>

    </Carousel>
  </Section>

  <!-- Credits -->
  <Section>
    <Heading level="2">Animations & Illustrations by:</Heading>

    <div class="flex justify-between max-w-[600px] pt-[28px] text-[14px] md:text-[16px] flex-col sm:flex-row gap-4">
      <ul class="list-disc ml-4 flex flex-col gap-4">
        <li>Walker TKL</li>
        <li>Robertino Zembrano</li>
        <li>Patrick Truby</li>
        <li>Keshizumi_k</li>
      </ul>

      <ul class="list-disc ml-4 flex flex-col gap-4">
        <li>Dave Merrell</li>
        <li>Seung Eun Kim</li>
        <li>Brit Sigh</li>
      </ul>

      <ul class="list-disc ml-4 flex flex-col gap-4">
        <li>Oluwaseun Adimi</li>
        <li>Kamil Oseni</li>
        <li>Takehiko Inoue</li>
      </ul>
    </div>
  </Section>

  <TheFooter />
  <!-- <Showcase2 client:visible/> -->

  <!-- <Framer client:visible/> -->
</Layout>